.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Custom styling for the heading */
h1 {
  font-family: 'Gloria Hallelujah', cursive;  /* Example font family */
  font-weight: 700;                   /* Make the text bold */
  font-size: 36px;                    /* Adjust the font size */
  color: #0073e6;                     /* Set a custom color */
  margin-bottom: 20px;                /* Add some space below the heading */
  text-transform: uppercase;          /* Make the heading uppercase */
  letter-spacing: 2px;                /* Increase the letter spacing */
}

/* Optionally, you can include a fallback font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

